.topic-container {
	max-width: 750px;
	margin: auto;
}

.topic-square {
	min-width: 220px;

	height: 180px;
	overflow: hidden;
}

.topic-color-blue {
	border-top: 1px solid #2196F3;
}

.topic-color-green {
	border-top: 1px solid #43A047;
}

.topic-color-teal {
	border-top: 1px solid #CDDC39;
}

.topic-color-orange {
	border-top: 1px solid #FFB300;
}

.topic-color-magenta {
	border-top: 1px solid #D81B60;
}

.topic-color-violet {
	border-top: 1px solid #8E24AA;
}
